[submodule "services/sumeetsaini_com"]
	path = services/sumeetsaini_com
	url = git@github.com:kungfusaini/sumeetsaini_com.git
[submodule "services/vulkan"]
	path = services/vulkan
	url = git@github.com:kungfusaini/vulkan.git
[submodule "services/arcanecodex"]
	path = services/arcanecodex
	url = git@github.com:kungfusaini/arcane-codex.git
[submodule "services/bucketbot"]
	path = services/bucketbot
	url = git@github.com:kungfusaini/bucketbot.git
[submodule "services/goblinbot"]
	path = services/goblinbot
	url = git@github.com:kungfusaini/goblinbot.git
