[submodule "services/sumeetsaini_com"]
	path = services/sumeetsaini_com
	url = git@github.com:kungfusaini/sumeetsaini_com.git
[submodule "services/vulkan"]
	path = services/vulkan
	url = git@github.com:kungfusaini/vulkan.git
[submodule "services/arcanecodex"]
	path = services/arcanecodex
	url = git@github.com:kungfusaini/arcane-codex.git
[submodule "services/bucketbot"]
	path = services/bucketbot
	url = git@github.com:kungfusaini/bucketbot.git
[submodule "services/goblinbot"]
	path = services/goblinbot
	url = git@github.com:kungfusaini/goblinbot.git
[submodule "services/ao3"]
	path = services/ao3
	url = git@github.com:kungfusaini/ashlyn-of-our-own.git
[submodule "services/reliq/reliqstudios"]
	path = services/reliq/reliqstudios
	url = git@github.com:kungfusaini/reliqstudios.git
[submodule "services/reliq/reliq.digital"]
	path = services/reliq/reliq.digital
	url = git@github.com:kungfusaini/reliq.digital.git
[submodule "services/reliq/reliqlabs"]
	path = services/reliq/reliqlabs
	url = git@github.com:kungfusaini/reliqlabs.git
